{% extends 'base/basee.html' %}

{% block content%}


<table class ="table table=bordered">
    <thead>
        <tr>
            <td>UsuarioUnab</td>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Sede</td>
            <td>Carrera</td>
            <td>Jornada</td>
        </tr>
    </thead>
    <tbody>
         {% if object_list %}
         {% for tablon in object_list %}
        <tr>
            <td>{{tablon.UsuarioUnab}}</td>
            <td>{{tablon.nombre}}</td>
            <td>{{tablon.apellido}}</td>
            <td>{{tablon.sede}}</td>
            <td>{{tablon.carrera}}</td>
            <td>{{tablon.jornada}}</td>
            
        {% endfor %}

        {% else %}
        <h1>No hay registros </h1>

        {% endif %}
        </tbody>
        
</table>
{% endblock %}