{% extends 'base/basee.html' %}

{% block title %} 
{% endblock title %}

{% block scripts %}
<script>
$(document).ready(function(){
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Cantidad de ejercicios {{nombre_ejercicio}} buenos y malos"],
            datasets: [{
                label: 'Buenas',
                data: [{{context_buenas}}],
                backgroundColor: 'rgba(00, 255, 00, 0.1)',
                borderColor: '#00FF00',
                borderWidth: 2
            },
            {
                label: 'Malas',
                data: [{{context_malas}}],
                backgroundColor: 'rgba(255, 255, 00, 0.1)',
                borderColor: '#FFFF00',
                borderWidth: 2  
            }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
});
</script>
{% endblock scripts %}

{% block content %}
<div>
    <canvas id="myChart" width="1140" height="465" 
    style="display: block;width:1140px;height: 465px"></canvas>
</div>
<div>
    <canvas id="myChart1" width="1140" height="465" 
    style="display: block;width:1140px;height: 465px"></canvas>
</div>

{% endblock content %}