{% extends 'base/basee.html' %}

{% block content%}


<table class ="table table=bordered">
    <thead>
        <tr>
            <td>IdEjercicio</td>
            <td>NombreProblema</td>
            <td>Mide:Recursividad</td>
            <td>Mide:Combinar estructuras de datos</td>
            <td>Mide:Estruturas de datos simples</td>
            <td>Mide:Problema de solucion simple</td>
            <td>Requiere: Clases</td>
            <td>Requiere: Colecciones</td>
            <td>Requiere: Flujos de control avanzados</td>
            <td>Requiere: Flujos de control simples</td>
            <td>complejidad</td>
            <td>hito</td>
        </tr>
    </thead>
    <tbody>
         {% if object_list %}
         {% for vista in object_list %}
        <tr>
            <td>{{vista.IdEjercicio}}</td>
            <td><a class ="btn btn-primary btn-xs" href= "profesor/estadisticasejercicios/{{vista.IdEjercicio}}">{{vista.NombreProblema}}</a></td>
            <td>{{vista.skill1}}</td>
            <td>{{vista.skill2}}</td>
            <td>{{vista.skill3}}</td>
            <td>{{vista.skill4}}</td>
            <td>{{vista.knowledge1}}</td>
            <td>{{vista.knowledge2}}</td>
            <td>{{vista.knowledge3}}</td>
            <td>{{vista.knowledge4}}</td>
            <td>{{vista.complejidad}}</td>
            <td>{{vista.hito}}</td>  
        {% endfor %}

        {% else %}
        <h1>No hay registros </h1>

        {% endif %}
        </tbody>
        
</table>
{% endblock %}