{% extends 'base/basee.html' %}

{% block title %} 
{% endblock title %}

{% block scripts %}

<script>
    $(document).ready(function(){
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'radar',
            data: {
                labels: ['S1 Recursividad', 'S2 Estructuras de datos combinadas', 'S3 Estructuras de datos','S4 Algoritmo simple',
                'K1 Clases', 'K2 Colecciones', 'K3 Control de Flujo Avanzado','K4 Control de Flujo Básico',
                ],
                datasets: [{
                    label: 'Estudiante',
                    data: [{% for item in skills %} {{item}}, {% endfor %}],
                    backgroundColor: 'rgba(00, 255, 00, 0.1)',
                    borderColor: '#00FF00',
                    borderWidth: 2
                },
                {
                    label: 'Curso',
                    data: [{% for item in skillsnrc %} {{item}}, {% endfor %}],
                    backgroundColor: 'rgba(255, 255, 00, 0.1)',
                    borderColor: '#FFFF00',
                    borderWidth: 2
                }
                ]
            },
            options: {
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            dataset=data.datasets[tooltipItem.datasetIndex];
                            return dataset.data[tooltipItem.index];
                        }
                    }
                },
                scale: {
                    ticks: {
                        min: 0
                    }
                }
            }
        });
    });
    </script>
{% endblock scripts %}

{% block content %}


    <canvas id="myChart" ></canvas>

{% endblock content %}