{% extends 'base/basee.html' %}

{% block content%}


<table class ="table table=bordered">
    <thead>
        <tr>
            <td>Nombre Ramo</td>
            <td>Codigo ramo</td>

        </tr>
    </thead>
    <tbody>
         {% if object_list %}
         {% for vista in object_list %}
        <tr>
            <td>{{vista.nrc}}</td>
            <td>{{vista.CodigoRamo}}</td>
            <td>
                <a class ="btn btn-primary btn-xs" href="{url 'profesor/listacurso'}">ver curso</a>
                </td>            
                <td>
                    <a class ="btn btn-primary btn-xs" href="{url 'profesor/estadisticascursos''}">Estadisticas de curso</a>
                    </td>      
        {% endfor %}

        {% else %}
        <h1>No hay registros </h1>

        {% endif %}
        </tbody>
        
</table>
{% endblock %}