{% extends 'base/basee.html' %}

{% block content%}


<table class ="table table=bordered">
    <thead>
        <tr>
            <td>UsuarioUnab</td>
            <td>Nombre</td>
            <td>Apellido</td>
        </tr>
    </thead>
    <tbody>
         {% if object_list %}
         {% for tablon in object_list %}
        <tr>
            <td>{{tablon.UsuarioUnab}}</td>
            <td>{{tablon.nombre}}</td>
            <td>{{tablon.apellido}}</td>
            <td>
            <a class ="btn btn-primary btn-xs" href="/profesor/cursosprofe/{{tablon.UsuarioUnab}}" >ver profesor </a>
            </td>
            
        {% endfor %}

        {% else %}
        <h1>No hay registros </h1>

        {% endif %}
        </tbody>
        
</table>
{% endblock %}