{% extends 'base/basee.html' %}

{% block content%}


<table class ="table table=bordered">
    <thead>
        <tr>
            <td>nrc</td>
            <td>UsuarioUnab</td>
            <td>notas</td>
            <td>estado</td>
        </tr>
    </thead>
    <tbody>
         {% if listacurso %}
         {% for vista in listacurso %}
        <tr>
            <td>{{vista.nrc}}</td>
            <td>{{vista.UsuarioUnab}}</td>
            <td>{{vista.notas}}</td>
            <td>{{vista.estado}}</td>
            <td>
                <a class ="btn btn-primary btn-xs" href="{url 'estudiante/misestadisticas'}">ver alumno</a>
                </td>   
        {% endfor %}

        {% else %}
        <h1>No hay registros </h1>

        {% endif %}
        </tbody>
        
</table>
{% endblock %}