{% extends 'base/basee.html' %}

{% block content %}


<table class ="table table=bordered">
    <thead>
        <tr>
            <td>UsuarioUnab</td>
            <td>dia</td>
            <td>mes</td>
            <td>año</td>
            <td>IdEjercicio</td>
            <td>Puntaje</td>
        </tr>
    </thead>
    <tbody>
         {% if listaejerciciosa %}
         {% for vista in listaejerciciosa %}
        <tr>
            <td>{{vista.UsuarioUnab}}</td>
            <td>{{vista.dia}}</td>
            <td>{{vista.mes}}</td>
            <td>{{vista.anio}}</td>
            <td>{{vista.IdEjercicio}}</td>
            <td>{{vista.Puntaje}}</td>    
        {% endfor %}

        {% else %}
        <h1>No hay registros </h1>

        {% endif %}
        </tbody>
        
</table>
{% endblock %}